body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    color:#0d0e0d;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header{
    background: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.about{
   padding: 20px;
   text-align: left;
   border: #0578a5;
   object-position: left;
 }

 .about-me{
    text-decoration: underline;
 }

 .projectsh1{
        text-decoration: underline;

 }
    


section{
    padding: 20px;
    margin: 10px auto;
    max-width: 700px;
    
    border-radius: 20px;
    box-shadow: 2px 5px rgba(5, 128, 150, 0.3);
    top: 30px;
    padding-right: 2000;
}

h2{
    color: #104986;
    text-align: left;
}

footer{
    text-align: center;
    padding: 10px;
    background: #104986;
}

.social-links{
    margin-top: 20px;
}

.social-links > a{
    text-decoration: dashed;
    color: rgb(15, 3, 122);
    text-decoration: none;
    font-weight: bolder;
}

.social-links > a:hover {
    text-decoration: wavy;
    font-size: 30px;
    color: rgb(15, 168, 10);
    padding: 20px;
}

footer > p{
    color: 104986;
    font-weight: bold;
}

/*Project list*/
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    height: 300%;
    width: 130%;
    
}

.project-card{
    background-color: #ffff;
    border-left: 4px solid #2ccef7;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.project-card:hover{
    transform: translate(-5px);
}

.project-card > h3{
    margin-top: 0;
    color: #30b40f;
}

.project-card > p{
    font-size: 14px;
    color: #0a0a0a;
}

.project-card > a{
    display: inline-block;
    padding-left: 8px 15px;
    color: #101549;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.project-card > a:hover{
    background-color: #104986;
}

nav{
    background-color: #104986;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
}

.navbar > li > a{
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navbar > li > a:hover{
    background-color: #007bff;
}


 

 